<div class="container mt-5">
  <div class="d-flex flex-column align-items-center">
    <h2>URL Shortener</h2>
    <img src="https://image.flaticon.com/icons/png/512/4299/4299106.png" alt="" style="width: 20%" class="my-5">
    <div class="form-group" style="width: 50%;">
      <h5>Success! Please use this link: </h5>
      <a href="{{ shortUrl }}">{{ shortUrl }}</a>
    </div>
  </div>
</div>